@media only screen and (max-width:768px){
    header .navbar-brand{
        padding-left: 1rem;
    }
    header .container .col-md-7 h6{
        display: none;
    }


    .section-1 .row .col-md-6 .panel{
        position: initial;
        width: initial;
        height: initial;

    }
    .section-2 .cover{
        background-position: -25vmin -10vmin;
    }
    .numbers .rect{
        width: 10rem;
        height: 8rem;
    }
    .numbers .rect h1{
        font-size: 2rem;
    }
    .section-3{
        height: inherit;
        padding: 10vmin !important;

    }
    .section-3 .row h1{
        padding: 6vmin 4vmin;
    }
    .section-3 .row .col-md-6{
        text-align: center !important;
    }
    .section-3 .desktop i{
        font-size: 8vmin;
    }

    .section-4 .carousel-item{
        padding-left: 0.6rem;
    }
    .section-4 .team{
        display: flex; 
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (max-width:425px){
footer .row .col-md-2{
  margin-top: 8vmin;
};
}

@media only screen and (max-width:375px){
    .section-4 .card{
        width: 18em;
    }

}


@media only screen and (max-width:320px){
    .section-4 .carousel-inner{
       margin-left: -4vmin;
    }

}


